a {
    text-decoration: none;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  /* css reset */
  nav {
    background: rgba(0, 0, 0, 0.75);
    max-width: 100%;
    /*   height: 50px; 改用padding*/
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    height: 60px;
  }
  nav a {
    color: white;
    font-size: 20px;
  }
  nav .menu {
    display: flex;
    justify-content: space-around;
  }
  nav .menu li {
    position: relative;
  }
  nav h1 a {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
  }
  nav li a {
    padding: 15px;
  }
  nav li a:hover {
    opacity: 0.8;
  }
  /* 項目連結偽元素 */
  nav li a::after {
    content: " ";
    position: absolute;
    border-bottom: 4px solid white;
    top: 37px;
    width: 0%;
    left: 0px;
    transition: all 0.5s;
  }
  /* 項目連結偽元素hover效果 */
  nav li a:hover::after {
    width: 100%;
  }
  .icon{
    display: none;
  }
  .wrap {
    background-image: url(../img/header_desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*   min-width: 100%; */
    max-width: 100%;
    height: 420px;
    /*   object-fit: cover; */
    position: relative;
  }
  .wrapContent{
    position: absolute;
    top: 40%;
    left: 35%;
    right: 35%;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.35);
    width: 460px;
    height: 150px;
    font-size: 20px;
  }
  .wrapContent p{
    font-size: 20px;
    color: white;
    padding: 5px 2px;
  }
  .wrapContent h2{
    font-size: 30px;
    color: white;
    padding-bottom: 5px;
  }


  /* 響應式 */
  @media (max-width: 800px) {
    .icon{
      display: block;
      color: #fff;
      font-size: 24px;
    }
    nav .menu {
      display:block;
      max-height: 0px;
      overflow: hidden;
      transition: all 1.5s;
      position: absolute;
      z-index: 10;
      top: 45px;
      left: 0;
      right: 0;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.75);
    }
    .menu li{
      margin: 5px 0;
    }
    .menu li a{
      padding: 2px 3px;
      display: block;
      text-align: center;
      margin: 10px 0;
    }
    nav li a:hover{
      color: gray;
      font-weight: bold;
    }
    nav li a:hover::after{
      width: 0%;
    }
    .menu.toggle{
      max-height: 120px;
      transition: all 1.5s;
    }
    .wrap {
      background-image: url(../img/header_mobile.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      max-width: 100%;
    }
    .wrapContent{
      position: absolute;
      top: 40%;
      left: 15%;
      right: 15%;
    }
  }
  @media (max-width: 576px){
    .wrapContent{
      width: 300px;
    }
  }
  @media(max-width: 375px){
    .wrapContent{
      width: 250px;
    }
  }
  /* 全體顏色設定 */
  body{
    background: #EFE9E7
  }
  /* 第一段落 */
  .topic {
    position: relative;
  }
  h2 {
    text-align: center;
    color: #3d1101;
    font-size: 24px;
    padding: 20px;
    line-height: 32px;
  }
  .topic h2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    background: #979797;
    height: 1px;
    width: 100px;
  }
  .topic h2::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 25%;
    width: 100px;
    background: #979797;
    height: 1px;
  }
  .content {
    max-width: 100%;
    margin: 0 auto;
  }
  .content ul {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 30px;
  }
  .content img {
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .content ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*   flex-wrap: wrap; */
    width: 27%;
    margin-bottom: 20px;
  }
  .content h3 {
    font-size: 22px;
    color: #3d1101;
    margin: 10px;
    font-style: italic;
    font-weight: 600;
  }
  .content p {
    font-size: 18px;
    color: #3d1101;
    font-style: italic;
    /*   padding: 5px 30px; */
  }
  
  @media (max-width: 800px) {
    .topic h2::before,
    .topic h2::after {
      display: none;
    }
    .content ul {
      flex-wrap: wrap;
    }
    .content ul li {
      width: 100%;
      margin-bottom: 20px;
    }
    .content p {
      text-align: center;
      padding: 0 25px;
    }
  }
  
  /* 第二段(chief) */
  .container {
    background-color: #3d1101;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .chief {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 1024px;
    margin: 0 auto;
    max-width: 100%;
  }
  .chief h3,
  .chief h4,
  .chief p {
    color: #efe9e7;
    font-style: italic;
    font-size: 20px;
    padding: 5px 15px;
    line-height: 1.15;
  }
  .chief h3 {
    font-size: 24px;
    font-style: normal;
  }
  
  @media (max-width: 800px) {
    .chief {
      flex-wrap: wrap;
      width: 100%;
    }
  }
  
  /* 第三段(feedback) */
  .feedback {
    max-width: 1024px;
    margin: 10px auto;
  }
  /* .feedback > h2{
    text-align: center;
    font-size: 24px;
    color: #3D1101;
  } */
  .feedback > ul {
    display: flex;
    justify-content: space-around;
  }
  .feedback img {
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .feedback ul li {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 10px;
  }
  .message {
    margin-left: 10px;
  }
  .message h4 {
    font-size: 20px;
    color: #3d1101;
    padding: 10px;
  }
  .message p {
    font-size: 18px;
    color: #3d1101;
    padding: 5px 10px;
    line-height: 24px;
  }
  .message span {
    display: block; /*   必須要加才會有效果 */
    text-align: right;
    opacity: 0.75;
  }
  
  @media (max-width: 800px) {
    .feedback ul {
      width: 100%;
      flex-wrap: wrap;
    }
    .message p {
      margin-bottom: 10px;
    }
  }
  
  /* 第四段(booking) */
  .booking {
    background: rgba(250, 250, 250, 0.7);
    padding-bottom: 30px;
  }
  .booking h2 {
    padding: 30px 0;
  }
  .order {
    display: flex;
    justify-content: center;
  }
  .order img {
    max-width: 40%;
    object-fit: cover;
  }
  form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 30%;
  }
  form label,
  form input {
    margin: 5px;
    padding: 3px 5px;
    font-size: 16px;
    color: #3d1101;
  }
  .button {
    text-align: end;
    margin: 5px;
  }
  button {
    border-style: none;
    color: white;
    padding: 8px 10px;
  }
  .button button:nth-child(1) {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.35);
  }
  .button button:nth-child(2) {
    background: #f56c23;
    border-radius: 3px;
  }
  @media (max-width: 800px) {
    .order {
      flex-direction: column;
      align-items: center;
    }
    .order img {
      width: 90%;
      object-fit: cover;
      margin-bottom: 10px;
    }
    form {
      width: 90%;
    }
  }
  
  /* footer */
  .footerContent {
    background: rgb(239, 233, 231);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
  }
  .aboutInfo {
    display: flex;
    align-items: center;
  }
  .aboutInfo h4,
  .contract h4 {
    font-size: 24px;
    margin: 15px 0;
    color: #3d1101;
  }
  .aboutInfo p {
    color: #3d1101;
    font-style: italic;
    line-height: 1.2;
  }
  .contract {
    margin-left: 20px;
  }
  .contract li {
    color: #3d1101;
    list-style: inside;
    padding-top: 5px;
  }
  .contract a{
    color: #3d1101;
  }
  .link h3{
    background-image: url(../img/logo_l@svg.svg);
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background-size: cover;
    width: 260px;
    height: 51px;
  }
  .link ul{
    display: flex;
    justify-content: end;
  }
  .link ul li{
    font-size: 25px;
    padding: 5px;
  }

  @media(max-width: 800px){
    .footerContent{
      flex-wrap: wrap;
    }
    .aboutInfo{
      display: flex;
      margin-bottom: 20px;
    }

    /* .link{
      display: none;
    } */
  }
  @media(max-width: 576px){
    .aboutInfo{
      display: block;
    }
    .contract{
      margin-left: 0;
    }
  }


  /* login頁面 */
.loginTitle{
  font-family: NotoSansCJKtc-Black;
  font-size: 48px;
  color: #3D1101;
  margin: 15px 0;
  }
  
.loginSubtitle{
  font-size: 26px;
  color: #3D1101;
  text-align: center;
  margin-bottom: 20px;
}
.login{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.loginInfo{
  border-top: 3px solid #ff5e45;
  background: #EFE9E7;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
  padding: 15px 20px;
  width: 300px;
  /* height: 270px; */
}
.loginInfo h3{
  margin: 20px 0;
  text-align: center;
  font-size: 24px;
  color: #3d1101;
}
.input-group{
  position: relative;
}
.fa-regular.fa-envelope{
  position: absolute;
  top: 15px;
  left: 12px;
}
.fa-solid.fa-lock{
  position: absolute;
  top: 15px;
  left: 12px;
}
.fa-solid.fa-lock.second{
  position: absolute;
  top: 63px;
  left: 12px;
}
.loginInfo label, .loginInfo input{
  margin: 5px;
}
.loginInfo input{
  padding: 10px 0;
  padding-left: 25px;
  max-width: 100%;
  width: 250px;
}
.forgotPwd{
  color: #ff5e45;
  margin-bottom: 30px;
  margin-top: 5px;
  display: block;
}
.registerButton{
  background: rgba(0,0,0,0.35);
  border-radius: 3px;
  color: white;
  cursor: pointer;
  width: 48%;
  text-align: center;
  padding: 5px;
  display: inline-block;
}
.registerButton:hover{
  background: #3d1101;
}
.loginButton{
  background: #F56C23;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  width: 48%;
  text-align: center;
  padding: 5px;
  display: inline-block;
}

/* register 頁面 */
.registerPage{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.registerPageInfo{
  width: 50%;
  border-top: 3px solid #ff5e45;
  background: #EFE9E7;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
  padding: 15px 20px;

}
.infoContainer{
  display: flex;
  justify-content:space-evenly;
}
.infoContainer > p{
  width: 65%;
  line-height: 2;
}

.registerPageInfo h3{
  margin: 20px 0;
  text-align: center;
  font-size: 24px;
  color: #3d1101;
}
.registerPageInfo label, .registerPageInfo input{
  margin: 5px;
}
.registerPageInfo input{
  padding: 10px 0;
  padding-left: 25px;
  /* max-width: 100%; */
  width: 100%;
}
.checkAccount{
  color: #ff5e45;
  margin: 10px 0 30px 0;
  display: block;
}
.infoContainer .submitButton a{
  margin-left: auto;
  display: block;
}
.loginButton:hover{
  background:#3d1101;
}
/* 註冊 響應式網站 */
@media (max-width: 800px){
  .infoContainer{
    display: block;
  }
  .infoContainer > p{
    width: 100%;
  }
}


/* cart頁面 */
.cart{
  display:flex;
  margin: 0 auto;
  max-width: 1024px;
}
/* 左側選單 */
.categories{
  margin: 40px 10px 0 10px;
  max-width: 25%;
}
.categories h3{
  font-size: 22px;
  color: #3D1101;
  line-height: 32px;
  margin: 10px;
}
.categories li{
  padding: 10px;
  border-bottom: 1px solid #3d1101;
}
.categories li > a{
  font-size: 20px;
  line-height: 1.2;
  color: #3d1101;
  display: block;
}
.hamburger{
  background:#3D1101;
}
.categories .hamburger a{
  color: white;
}

/* 右側資訊列 */
.cartContent{
  max-width: 75%;
}
.contentTopBar{
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.search{
  display: flex;
  border: 1px solid #3D1101;
}
.search input{
  width: 420px;
}
.search a{
  background: #3d1101;
  font-size: 18px;
  display: block;
  padding: 4px;
}

.shoppingCar{
  display: flex;
  align-items: center;
}
.shoppingCar a{
  padding: 5px;
  display: block;
  border-right: 1px solid #3d1101;
  color: #3d1101;
  font-size: 18px;
}
.shoppingCar i{
  padding: 5px;
  position: relative;
  font-size: 20px;
}
.shoppingCar i span{
  position: absolute;
  top: -10px;
  right: -5px;
  background: #FF5E45;
  border-radius: 50%;
  padding: 5px;
  color: #fff;
  font-size: 10px;
}
.card{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.card li{
  max-width: 30%;
  margin: 0 0 20px 10px;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
.fa-regular.fa-heart{
  color: white;
  position: absolute;
  left: 13px;
  top: 2px;
  z-index: 2;
  font-size: 20px
}
.menuImg{
  position: relative;
  overflow: hidden;
  top: -6px;
  right: -6px;
}
.menuImg {
  padding: 0 5px 0 0 ;
}
.menuImg span{
  position: absolute;
  top: 15px;
  right: -32px;
  transform: rotate(45deg);
  width: 120px;
  height: 24px;
  background: #0c9;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
}
.card-body{
  padding: 10px;
}
.card-body h4{
  text-align: center;
  font-size: 20px;
  color: #3D1101;
  padding-bottom: 5px;

  
}
.card-body h4::before{
  content: '';
  position: absolute;
  bottom: 37%;
  left: 50%;
  transform: translateX(-50%);
  width: 92px;
  height: 1px;
  background: #3d1101;
}

.card-body .egmenu{
  text-align: center;
  font-size: 12px;
  color: #3d1101;
  margin-bottom: 15px;
}
.card-body .price{
  text-align: center;
  color:#3D1101 ;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}
.card-body button{
  border: 1px solid #FF5E45;
  border-radius: 3px;
  color: #ff5e45;
  font-size: 16px;
  width: 100%;
}
.card-body button:hover{
  color: white;
  cursor: pointer;
  background: #FF5E45;
}
/* 響應式 */
@media (max-width: 800px) {
  .categories{
    margin: 10px;
    max-width: 30%;
  }
  .cartContent{
    max-width: 70%;
  }
  .contentTopBar{
    margin: 10px;
  }
  .search{
    max-width: 70%;
  }
  .search input{
    max-width: 100%;
  }
  .card li{
    margin: 5px;
    max-width: 30%;
  }
  .card-body .egmenu{
    font-size: 10px;

  }
  .card-body h4::before{
    bottom: 40%;
  }
  .card-body button{
    font-size: 12px;

  }
}
/* 響應式 小於576px */
@media (max-width: 576px){
  .cart{
    display: block;
  }
  .categories{
    max-width: 100%;
    margin-bottom: 25px;
  }
  .cartContent{
    max-width: 100%;
  }
  .contentTopBar{
    margin-bottom: 25px;
    flex-wrap: wrap;
  }
  .shoppingCar{
    justify-content: end;
  }
  .cart{
    flex-wrap: wrap;
  }
  .card li{
    max-width: 100%;
    margin: 15px auto;
  }
  .card-body h4{
    text-align: center;
    font-size: 24px;
    color: #3D1101;
    padding-bottom: 5px;
  }
  .card-body h4::before{
    content: '';
    position: absolute;
    bottom: 32%;
    left: 50%;
    transform: translateX(-50%);
    width: 92px;
    height: 1px;
    background: #3d1101;
  }
  
  .card-body .egmenu{
    text-align: center;
    font-size: 20px;
    color: #3d1101;
    margin-bottom: 15px;
  }
  .card-body .price{
    text-align: center;
    color:#3D1101 ;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
  }
}
@media (max-width: 375px){
  .contentTopBar{
    justify-content: end;
  }
  .search{
    max-width: 100%;
    margin-bottom: 15px;
  }
}